/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* GLOBAL RESET */
*,
*::before,
*::after {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

/* BODY DESIGN */
body * {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/* HEADER DESIGN */
header {
  display: grid;
  height: 53.2rem;
  position: relative;
  background-color: #f8f8ff;
  margin-bottom: 10em;
  overflow: hidden;
}

/* HEADER IMAGE POSITION */
img[alt="Colored feathers"] {
  width: calc(1vmin * 43);

  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 0;
}

img[alt="A woman with colored feathers"] {
  width: calc(1vmin * 43);

  position: absolute;
  bottom: 0rem;
  right: 0rem;
  z-index: 0;
}

/* HEADER SEARCH DESIGN */
#search {
  display: grid;
  place-items: center;

  margin: 0 auto;

  max-width: 1440px;

  align-self: center;
  z-index: 1;
}

/* HEADER H1 DESIGN */
h1 {
  max-width: 64.7rem;
}

h1 > span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 > span > span:first-child {
  margin-bottom: 1.8rem;

  font-size: 1.6rem;
  font-weight: 500;

  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #e45858;
}

h1 > span > span:last-child {
  margin-bottom: 4rem;

  font-size: 4.8rem;

  text-align: center;
  line-height: 6rem;

  color: #121214;
}

h1 > span > span > strong {
  color: #6246ea;
}

/* HEADER FORM */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;

  min-width: 120%;

  padding: 4rem;

  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

label[for="searchByCity"],
label[for="chooseOneCity"] {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  width: 37.5%;

  padding: 1.2rem 0.8rem 1.2rem 1.4rem;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;

  background: #f4f4ff;
  border-radius: 0.5rem;
  border: none;

  color: #7c7c8a;
}

label[for="chooseOneCity"] {
  position: relative;
}

label[for="searchByCity"] > input {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;

  width: 100%;

  background: #f4f4ff;
  border: none;

  outline: none;
}

label[for="chooseOneCity"] > select {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;

  width: 100%;

  background: #f4f4ff;
  border: none;

  outline: none;

  appearance: none;
}

img[alt="arrow down icon"] {
  position: absolute;
  right: 1.2rem;

  pointer-events: none;
}

form > button {
  padding: 1.2rem 3.2rem;

  background: #6246ea;
  border-radius: 0.5rem;
  border: none;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;

  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  color: #ffffff;
  cursor: pointer;
}

/* SECTION DESIGN */
section {
  margin: 0 auto;

  width: 80%;
}

section > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 4em;
}

/* H2 SECTION DESIGN */
h2 {
  font-family: Roboto;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.5rem;
  letter-spacing: 0em;
}

/* BUTTONS SECTION DESIGN */
.btns {
  display: flex;
  align-items: center;

  padding: 8px;

  border: 1px solid #eaeaea;
  border-radius: 6px;

  background-color: #fff;
}

.btns > button {
  padding: 4px 24px;

  border: none;
  border-radius: 5px;

  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0em;
  text-transform: uppercase;

  background-color: #fff;
  color: #6246ea;
}

.btns > .active {
  background: #6246ea;
  color: white;
}

section > div:last-of-type {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  width: 100%;
}

article {
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 10px;

  overflow: hidden;
}

article > img {
  width: 100%;

  padding-bottom: 1.6rem;
}

article > h3 {
  padding-inline: 1.6rem;
  padding-bottom: 1.6rem;
}

article > p {
  padding-inline: 1.6rem;
  padding-bottom: 1.6rem;
}

article > p:last-of-type {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* FOOTER DESIGN */
footer > p {
  margin-top: 3.2rem;
  text-align: center;
}

@media (max-width: 1024px) {
  h1 > span > span:last-child {
    font-size: 3rem;

    margin-bottom: 2rem;
  }

  form {
    flex-direction: column;

    min-width: 80%;
  }

  label[for="searchByCity"],
  label[for="chooseOneCity"] {
    width: 100%;
  }

  h2 {
    text-align: center;
  }
}

@media (max-width: 840px) {
  section {
    width: 90%;
  }
}

@media (max-width: 660px) {
  form {
    background-color: #ffffff66;
  }

  section > div:last-of-type {
    justify-content: unset;
  }
}

@media (max-width: 580px) {
  section > div:first-of-type {
    flex-direction: column;
  }
}
